/* Global CSS styles */
body {
  background-color: #111827; /* gray-900 */
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #60a5fa; /* blue-400 */
}

a:hover {
  color: #2563eb; /* blue-600 */
}

button {
  background-color: #3b82f6; /* blue-500 */
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2563eb; /* blue-600 */
}

input,
textarea {
  background-color: #1f2937; /* gray-800 */
  color: white;
  border: 1px solid #374151; /* gray-700 */
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}